*{
    font-size: 1rem;
}

h4{
    font-size: 2em;
    line-height: 1.8em;
    color: #242424;
}

h6{
    font-size: 1.1em;
    line-height: 1.8em;
    color: #808080;
}
p{
    font-size: 1em;
    line-height: 1.7em;
    color: #808080;
}

.ctn-contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f3f3f3;
    justify-content: space-evenly;
    align-items: center;
    height: 41em;
}

section{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.ctn-icon{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.ctn-i{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ctn-i i{
    margin-right: 1em;
    font-size: 1.5em;
    color: #3D6DFA;
}

section h6{
    font-weight: 600;
}

.ctn-icon p{
    font-weight: 500;
    margin-left: 2.8em;
}

aside{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.ctn-form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 28em;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.16);
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

form h4{
    font-weight: 500;
}

form input{
    width: 80%;
    border-radius: 0.5em;
    border: none;
    height: 2.7em;
    background-color: #f3f3f3;
    padding: 0 1.5em;
    margin: 0.5em 0;
}

form textarea{
    width: 80%;
    border-radius: 0.5em;
    border: none;
    height: 6em;
    background-color: #f3f3f3;
    padding: 1em 1.5em;
    margin: 0.5em 0;
}

form button{
    border: none;
    border-radius: 0.5em;
    color: #f3f3f3;
    background-color: #3D6DFA;
    padding: 1em;
    width: 6em;
    margin: 1em 0;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

form button:hover{
    background-color: #303180;
    transition: 0.3s;
}

::placeholder{
    font-size: 1.1em;
}

/* Media Queries----------------------------------------------------------------*/  

@media screen and (max-width: 1000px){
    *{
        font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 800px){
    .ctn-contact{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f3f3f3;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    section{
        width: 80%;
        margin: 4em 0 2em 0;
    }
    aside{
        width: 80%;
        align-items: flex-start;
        margin: 1em 0 3em 0;
    }
    ::placeholder{
        font-size: 0.9em;
    }
    form input{
        padding: 0 1.1em;
    }
    
    form textarea{
        padding: 1em 1.1em;
    }
  }