<div class="ctn-contact">
    
        <section>
            <h4 style="font-weight: 500;">Estemos en Contacto</h4> <br>
            <h6 style="font-weight: 500;">Estamos para ayudarte en todo lo legal, para que solo te preocupes
                de tu emprendimiento y dejes en manos de expertos la contabilidad
                y los requisitos necesarios para estar al día con SII.</h6>
            <div class="ctn-icon">
                <div class="ctn-i">
                    <i class="fas fa-map-marker-alt"></i>
                    <h6>Visítanos:</h6></div>
                <p>Av. Irarrazaval 2401, oficina 1113, ñuñoa.</p>
            </div>
            <div class="ctn-icon">
                <div class="ctn-i">
                    <i class="fas fa-envelope"></i>
                    <h6>Envíanos un correo:</h6></div>
                <p>hola@mykeep.cl</p>
            </div>
            <div class="ctn-icon">
                <div class="ctn-i">
                    <i class="fas fa-phone-alt"></i>
                    <h6>Teléfono:</h6></div>
                <p>+56 9 4456 3517</p>
            </div>
        </section>
        
        <aside>
            <div class="ctn-form">
                <form action="">
                    <h4>Escríbenos</h4>
                    <input type="text" name="" id="" placeholder="Nombre*">
                    <input type="text" name="" id="" placeholder="Email*">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje..."></textarea>
                    <button>ENVIAR</button>
                </form>
                
            </div>
        </aside>

</div>
