header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6em;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

header .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

img{
    width: 12%;
}

header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.menu a{
    font-size: 1em;
    font-weight: 500;
    color: #f7f5f5;
}