header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6em;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

header .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    cursor: pointer;
}

img{
    width: 12%;
}

header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.menu a{
    font-size: 1em;
    font-weight: 500;
    color: #f7f5f5;
    cursor: pointer;
}

.menu a:hover{
    font-size: 1.1em;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

.menu a:focus{
    font-size: 1.1em;
    font-weight: 700;
    color: #cfcfcf;
}

.header_change{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fafafa;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.16);
}

.header_change .menu a{
    color: #333333;
}

.header_change .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 28%;
    cursor: pointer;
}