<div class="ctn-services">
    
    <div class="section-one">
        <section>
            <h4 style="font-weight: 500;">Servicio de Contabilidad</h4> <br>
            <p>Administración contable de la información asociada a los ingresos y gastos de la 
                empresa durante el mes, con la finalidad de cumplir con los requisitos tributarios 
                establecidos por la ley. Confección de libros auxiliares obligatorios: Libro Diario, 
                Libro Mayor y Balance General. Otros registros obligatorios: Planilla de Activo Fijo, 
                Planilla Control de Inventarios, entre otros. Registro de contabilidad computacional 
                autorizada por el SII mediante ERP Contable. Impresión de libros obligatorios en hojas 
                foliadas autorizadas por el SII, con entrega del año contable posterior a la declaración 
                y aceptación de renta.</p>
        </section>
        <aside>
            <img src="../../../assets/imgs/mykeep1.jpg" width="70%" alt="">
        </aside>
    </div>

    <div class="section-two">
        <section>
            <img src="../../../assets/imgs/home.svg" width="90%" alt="">
        </section>
        <aside>
            <h4 style="font-weight: 500;">Remuneraciones RRHH</h4> <br>
            <p>Con Remuneraciones Keep podrás recibir un servicio de excelencia sin tener que 
                contratar personal extra como secretaria ni asistentes de RRHH, con nosotros 
                recibirás liquidaciones oportunamente y el pago de tus trabajadores automatizado, 
                con la información al día en Previred y bancos.
                Ganarás en eficiencia y productividad con nuestro servicio de remuneraciones. Haz 
                gestión de tu recurso más valioso: tus personas. Lleva al día, de manera ordenada y 
                fácil, toda la información de tus empleados. Permite que tu equipo de RRHH esté de 
                cara a las personas y no frente a pantallas y planillas.</p>
        </aside>
    </div>

    <div class="section-three">
        <section>
            <h4 style="font-weight: 500;">Descubre los beneficios y descuentos que tenemos para ti</h4> <br>
            <div class="ctn-ctn">
                <div class= "ctn-bnf">
                    <img src="../../../assets/imgs/icon1-150x150.jpg" width="60%" alt="">
                    <p>Cumplimiento de planificación inicial de trabajo</p>
                </div>
                <div class= "ctn-bnf">
                    <img src="../../../assets/imgs/icon2-150x150.jpg" width="60%" alt="">
                    <p>Cumplimiento de calendario de información</p>
                </div>
                <div class= "ctn-bnf">
                    <img src="../../../assets/imgs/icon3-150x150.jpg" width="60%" alt="">
                    <p>Plan referido</p>
                </div>
                <div class= "ctn-bnf">
                    <img src="../../../assets/imgs/icon4-150x150.jpg" width="60%" alt="">
                    <p>Pago automático PAC o PAT</p>
                </div>
                <div class= "ctn-bnf">
                    <img src="../../../assets/imgs/icon5-150x150.jpg" width="60%" alt="">
                    <p>Pago manual en fecha acordada</p>
                </div>
            </div>
        </section>
    </div>

</div>