<app-header></app-header>

<!-- Home -------------------------------------------------------------- -->

<section id="home">
    <div class="ctn-home">
        
        <div class="section-one">
            <div class="ctn-text">
                <h1 style="font-weight: 600;">La mejor manera</h1>
                <h1 style="font-weight: 400;">de llevar tu negocio</h1>
                <h6 style="font-weight: 400;">Lleva la contabilidad, remuneraciones y gestión de RRHH de tu empresa al día y ordenada.</h6>
                <a (click)="toFunctioning()">VER MÁS</a>
            </div>
            <div class="ctn-img-home">
                <img src="../../../assets/imgs/contabilidad.svg" width="95%" alt="">
            </div>
        </div>
        
        <div class="section-two">
            <div class="ctn-img-certif">
                <img src="../../../assets/imgs/certificados.jpg" width="90%" alt="">
            </div>
            <div class="ctn-text-certif">
                <h4 style="font-weight: 500;">Nuestros certificados digitales</h4>
                <p>No te quedes fuera de la era digital y factura sin problemas desde la comodidad de tu computadora.</p><br>
                <h5 style="font-weight: 500;">Firma Electrónica</h5>
                <div class="ctn-icon">
                    <div class="ctn-i" style="background-color: #eb80bba4;"><i class="fas fa-cloud-download-alt"></i> </div>
                    <p>Descarga tu Firma Electrónica Simple/Certificado Digital por dos años y obtén un año más GRATIS!</p>
                </div> <br>
                <h5 style="font-weight: 500;">Boleta Electrónica</h5>
                <div class="ctn-icon">
                    <div class="ctn-i" style="background-color: #a680eba4;"><i class="fas fa-file-invoice"></i></div>
                    <p>Descarga tu Boleta Electrónica y cumple con Obligatoriedad del SII y comienza hoy mismo.</p>
                </div> <br>
                <h5 style="font-weight: 500;">App e-Rut</h5>
                <div class="ctn-icon">
                    <div class="ctn-i" style="background-color: #80eb8ea4;"><i class="fas fa-qrcode"></i></div>
                    <p>Es un documento en formato digital que identifica al Contribuyente para efectos tributarios.</p>
                </div>
            </div>
        </div>
        
    </div>

</section>

<!-- Home -------------------------------------------------------------- -->

<section id="functioning"><app-functioning></app-functioning></section>

<section id="servicios"><app-servicios></app-servicios></section>

<section id="contact"><app-contact></app-contact></section>

<app-footer></app-footer>
