<div class="ctn-func">
    
    <div class="section-one">
        <section>
            <h4 style="font-weight: 500;">¿Cómo funciona?</h4> <br>
            <p>Podrás recibir un servicio de excelencia, llevar la contabilidad, remuneraciones y gestión
                de RRHH de tu empresa al día y ordenada. Ganarás en eficiencia y
                productividad con nuestros servicios.</p>
        </section>
        <aside>
            <img src="../../../assets/imgs/Como-funciona.png" width="70%" alt="">
        </aside>
    </div>

    <div class="section-two">
        <section>
            <img src="../../../assets/imgs/mykeepcl5.jpg" width="65%" alt="">
        </section>
        <aside>
            <h4 style="font-weight: 500;">Desarrollo para Emprendedores</h4> <br>
            <p>Las empresas deben dedicarse a lo que realmente saben y contribuye a su productividad. 
                Desarrollar y mejorar tu propio negocio, aumentar las ventas y posicionarte en el mercado. 
                Nosotros nos ocuparemos de la Contabilidad y Remuneraciones de manera oportuna, clara y 
                eficiente.</p>
        </aside>
    </div>

    <div class="section-three">
        <section>
            <h4 style="font-weight: 500;">Todo lo que necesitas para seguir emprendiendo</h4> <br>
            <p><strong>Soporte</strong> Resuelve dudas y requerimientos con tu ejecutivo comercial y obtén respuestas 
                de manera personalizada y oportuna. <br> <br>
                <strong>Información Expedita</strong> Te guiaremos en todos los procesos y en poco tiempo estarás 
                trabajando en tu contabilidad y remuneraciones delegando los procesos con nosotros, 
                optimizando tu trabajo y mejorando tu productividad comercial. <br> <br>
                <strong>Tarifas Fijas y Conocidas</strong> sin costos sorpresa. Lo que contratas es lo que pagas 
                mensualmente, con la posibilidad de incorporar nuevos servicios a la medida de tu 
                crecimiento</p>
        </section>
        <aside>
            <img src="../../../assets/imgs/myeepcl6.jpg" width="80%" alt="">
        </aside>
    </div>

</div>